.header {
  position: absolute;
  left: 0;
  right: 0;
  padding: 1.5rem var(--padding);
  max-width: 1100px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-light);
  font-size: 0.875rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  z-index: 2;

  a,
  button {
    transition: 0.3s;
  }

  a:hover,
  button:hover {
    color: var(--accent);
  }
}

.navigation {
  gap: 2rem;
  text-transform: uppercase;
  display: none;
  align-items: center;
}

.navigation a.active {
  color: var(--accent);
}

.header-btn {
  padding: 0.75rem 1.125rem;
  border: 1px solid var(--accent);
  border-radius: 2px;

  &:hover {
    background-color: var(--accent);
    color: var(--text-light)!important;
  }
}

@media (min-width: 600px) {
  .burger {
    display: none;
  }
  .navigation {
    display: flex;
  }
}
